<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silent Bggl</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  </head>
  <body onload="setInterval('updateClock()', 200);">
    <h2>Game On!</h2>
    <h3 id="clock"></h3>

    <table>
      <tr>
        <td><%= @grid.select_die(0) %></td>
        <td><%= @grid.select_die(1) %></td>
        <td><%= @grid.select_die(2) %></td>
        <td><%= @grid.select_die(3) %></td>
      </tr>
      <tr>
        <td><%= @grid.select_die(4) %></td>
        <td><%= @grid.select_die(5) %></td>
        <td><%= @grid.select_die(6) %></td>
        <td><%= @grid.select_die(7) %></td>
      </tr>
      <tr>
        <td><%= @grid.select_die(8) %></td>
        <td><%= @grid.select_die(9) %></td>
        <td><%= @grid.select_die(10) %></td>
        <td><%= @grid.select_die(11) %></td>
      </tr>
      <tr>
        <td><%= @grid.select_die(12) %></td>
        <td><%= @grid.select_die(13) %></td>
        <td><%= @grid.select_die(14) %></td>
        <td><%= @grid.select_die(15) %></td>
      </tr>
    </table>
    <progress value="0" max="180" id="progressBar"></progress>

    <script src="script/clock.js" type="text/javascript"></script>
    <script src="script/main.js" type="text/javascript"></script>
  </body>
</html>
