<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Silent Bggl</title>
  </head>
  <body>
    <h2>Welcome to silent bggl!</h2>

    <table>
      <tr>
        <td><%= @die.roll(0) %></td>
        <td><%= @die.roll(1) %></td>
        <td><%= @die.roll(2) %></td>
        <td><%= @die.roll(3) %></td>
      </tr>
      <tr>
        <td><%= @die.roll(4) %></td>
        <td><%= @die.roll(5) %></td>
        <td><%= @die.roll(6) %></td>
        <td><%= @die.roll(7) %></td>
      </tr>
      <tr>
        <td><%= @die.roll(8) %></td>
        <td><%= @die.roll(9) %></td>
        <td><%= @die.roll(10) %></td>
        <td><%= @die.roll(11) %></td>
      </tr>
      <tr>
        <td><%= @die.roll(12) %></td>
        <td><%= @die.roll(13) %></td>
        <td><%= @die.roll(14) %></td>
        <td><%= @die.roll(15) %></td>
      </tr>
    </table>
  </body>
</html>
